
@{
    ViewBag.Title = "ShowData";
    var name = TempData["Name"];
    var age = TempData["Age"];
    var address = TempData["Address"];
}

<h2>ShowData</h2>
<p>Name: @name</p>
<p>Age: @age</p>
<p>Address: @address</p>

